CREATE USER read_user WITH LOGIN PASSWORD '${DB_PASSWORD}'
NOSUPERUSER INHERIT NOCREATEDB NOCREATEROLE NOREPLICATION VALID UNTIL 'infinity';

\c ${DB_NAME};
GRANT CONNECT ON DATABASE ${DB_NAME} TO read_user;
GRANT USAGE ON SCHEMA public TO read_user;
GRANT SELECT ON ALL TABLES IN SCHEMA public TO read_user;
GRANT SELECT ON ALL SEQUENCES IN SCHEMA public TO read_user;
