export MQ_USER="example"
export MQ_PASS="example"
export GEO_KEY="example"
export MINIO_ACCESS="example"
export MINIO_SECRET="example"
export DB_PASSWORD="example"
export DB_NAME="example"
export APP_ID="example"
export APP_SECRET="example"
export APP_DOMAIN="example"
export TOKEN="example"
