MQ_USER="example"
MQ_PASS="example"
GEO_KEY="example"
MINIO_ACCESS="example"
MINIO_SECRET="example"
DB_PASSWORD="example"
DB_NAME="example"
APP_ID="example"
APP_SECRET="example"
APP_DOMAIN="example"
TOKEN="example"
